@using EntityLayer.Concrets
@model List<Blog>

@{
    ViewData["Title"] = "BlogListele";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}


<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Bloglar</h3>
		<div class="inner-sec">
			<!--left-->
			<div class="left-blog-info-w3layouts-agileits text-left">
				<div class="row">                    <!--veritabanında kaç tane blog varsa bu aşağıdaki kard yapısı şeklinde o kadar blog getirecek ki bunun için de foreach döngüsünü kullandık-->
					@foreach(var item in Model){
					<div class="col-lg-4 card">
						<a href="single.html">
								<img src="@item.BlogImage" class="card-img-top img-fluid" style="width:100%; height:279.73px; object-fit : contain ;" alt="">
						</a>
						<div class="card-body">
							<ul class="blog-icons my-4">
								<li>
									<a href="#">
										<i class="far fa-calendar-alt"></i> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyy"))   <!--veritabanında ilgili bloğun yazılma, oluşturulma tarihi kart yapısında bu bölümde yazacak-->
									</a>
								</li>
								@* <li class="mx-2">
									<a href="#">
											<i class="far fa-comment"></i> 
										</a>
								</li> *@
								<li>
									<a href="#">
										<i class="fas fa-eye"></i> @item.Category?.CategoryName <!--ilgili bloğun category nameinin getirecek ki bunu gerçekleştirebilmsei için mimaride ilgili yerlerde Include metodunu kullandık-->
									</a>
								</li>

							</ul>
							<h5 class="card-title">
									<a href="/Blog/BlogReadAll/@item.BlogID/">@item.BlogTitle</a>  <!--ilgili bloğun başlığı yazacak kart yapısının bu bölümünde ve başlığa tıkladığımda da bloğun detaylarının olduğu BlogReadAll sayfasına götürecek beni-->
							</h5>
							<p class="card-text mb-3">@item.BlogContent.Substring(0,item.BlogContent.Substring(0,140).LastIndexOf(" "))...</p>  <!--Kard yapısında blogların içeriklerinin olduğu kısa yazıların her bir kart yapısında o yazının 100 karakterlik kısmını göstermesini istiyorum-->
							<a href="/Blog/BlogReadAll/@item.BlogID/" class="btn btn-primary read-m">Devamını Oku</a>  <!--substringe verdiğim ikinci parametrede yaptığım şeyin amacı mesela 130. karaktere kadar yazıyı aldı ama son kelime yarıda kesilmiş olabilir. Bunun olmaması için LastIndexOf metodu ile o 130. karaktere kadar ki olan son kelimeye varmadan önceki boşluğa kadarki olan yazıları alsın ki son alacağı kelime yarıda kesilmiş gelmesin-->
						</div>   <!--bu linke tıkladığında blog id'si ile bloğun detaylarının olduğu BlogReadAll sayfasına gidecek-->
					</div>
				  }
				</div>
				<!--//left-->
			</div>
		</div>
	</div>
</section>

